.portfolio-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin-top: 100px;
    padding-top: 20px;
}

canvas {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
