.portfolio-page {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;

    #h1-heading {
        padding-top: 20px;
    }
    
    .canvas-container {
        width: 100%;
        height: 80vh;
    }
    
}

div#about-portfolio-text {
    color: white;
    font-size: 1.75em;
    width: 60%;
}

h4#user-exp-message {
    padding: 4px;
    background: #00ffc2;
    color: black;
}

#intro-to-click {
    font-size: 40px;
    font-weight: 400;
    color: #00ffc2;
}
#intro-text-div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    background: rgba(77, 9, 117, 0.764);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 12px;
    animation: fadeIn 2s 1s both;

    &::after {
        content: 'Take a look around!';
        font-size: 18px;
        color: #ffffff;
    }
}

#gh-links-div {
    margin-bottom: 50px;
}

a#project-links {
        font-weight: 700;
}
#scroll-to-bottom,
#scroll-to-bottom a,
div#project-links a {
    color:rgba(134, 17, 201, 0.764);
    text-align: center;
}

canvas {
    -ms-touch-action: none;
    touch-action: none;
}

.htmlDrumMachine iframe,
.htmlJavascriptCalculator iframe,
.htmlMarkdownPreviewer iframe  {
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #0000;
}

@media screen and (max-width: 1200px) {
    div#about-portfolio-text {
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
        justify-content: center;
        align-content: center;
    }
}