.portfolio-page {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;

    #h1-heading {
        padding-top: 20px;
    }
    
    .canvas-container {
        width: 100%;
        height: 80vh;
    }
    
}
#intro-to-click {
    font-size: 60px;
    font-weight: 400;
    color: #00ffc2;
}
#intro-text-div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    background: rgba(160, 91, 41, 0.764);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 12px;
    animation: fadeIn 2s 1s both;

    &::after {
        content: 'To look Around!';
        font-size: 18px;
        color: #ffffff;
    }
}

canvas {
    -ms-touch-action: none;
    touch-action: none;
}

.htmlDrumMachine iframe,
.htmlJavascriptCalculator iframe,
.htmlMarkdownPreviewer iframe  {
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #0000;
}