.resume-container {
    //background: radial-gradient(rgb(46, 43, 43), rgb(9, 8, 8));
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: scroll;

    img#resume {
        background: white;
    height: auto;
    margin: 80px;
    width: auto;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: visible;
    }
}