div.container.home-page {
    height: 100vh;
}

.home-page {

    .text-zone {
        margin-top: 50px;
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #00ffc2;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #00ffc2;
            font-size: 18px;
            position: absolute;
            margin-top: -20px;
            opacity: 0.6;

        }

        &::after {
            content: '\A </h1>';
            white-space: pre;
            font-family: 'La Belle Aurore';
            position: relative;
            color: #00ffc2;
            font-size: 18px;
            animation: fadeIn 2.7s linear backwards;
            animation-delay: 1s;
            opacity: 0.6;
        }

        img {
            width: 22px;
            margin-left: 20px;
            margin-right: 2px;
            opacity: 100;
        }

        .bounce {
            animation: bounce 1.5s .9s;
            animation-delay: 1.2s;
        }

        @keyframes bounce {
            0% {
                transform: scale(1.1);
                animation: ease-in-out;
                opacity: 1;
            }

            50% {
                transform: scale(1.6);
                opacity: .7;
            }

            60% {
                transform: scale(0.6);
                opacity: .1;
            }

            80% {
                transform: scale(0.95);
                animation: fadeIn 1s;
            }

            100% {
                transform: scale(1);

            }

        }
    }

    h2 {
        color: #0090d4;
        font-weight: 100;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: 'Helvetica Neue';
        animation: fadeIn 1s 1.8s backwards;
        width: auto;
    }

    .btn-container {
        align-items: center;
        width: inherit;
        height: auto;
        max-height: 120px;
        display: flex;
        flex-direction: column;
        text-align: center;
        //border-bottom: 1px solid #00ffc2;

        @media(min-width: 600px) {
            flex-direction: row;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .btn {
        position: relative;
        max-width: 170px;
        width: 100%;
        color: #00ffc2;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 15px;
        text-decoration: none;
        padding: 1em;
        margin-top: 8px;
        margin-right: 18px;
        justify-content: left;
        float: left;
        animation: fadeInAnimation 1s 1.8s linear;
        white-space: nowrap;
        cursor: pointer;

        svg {
            cursor: pointer;
            height: 45px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        rect {
            fill: none;
            stroke: #0090d4;
            stroke-width: 2;
            stroke-dasharray: 422, 0;
            transition: all 0.35s linear;
        }
    }

    #done-play {
        display: none;
    }


    .btn:hover {
        color: #0090d4;
        text-decoration: none;

        rect {
            stroke-width: 5;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    #port-id {
        animation: wiggle 3s linear infinite;      
        animation-delay: .9s
    }

/* Keyframes */
@keyframes wiggle {

    0% {
        transform: rotateZ(0);
    }
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-1deg);
    }

    20% {
        transform: rotateZ(1deg) scale(.9)
    }

    25% {
        transform: rotateZ(-1deg);
    }

    30% {
        transform: rotateZ(2deg);
        background: rgba(89, 88, 88, 0.45);
    }

    35% {
        transform: rotateZ(-1deg);
    }

    40% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}
}

@media screen and (max-width: 1200px) {

    // .home-page h1::before,
    // .home-page h1::after {
    //     display: none;
    // }

    .home-page {
        justify-content: center;
        align-items: center;

        .text-zone {
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
            left: 0;

        }

        h1 {
            font-size: 4em;
        }

        img {
            width: 20px;
        }

        .btn-container {

            .play-btn {
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                padding: auto;
                margin-top: 8px;
                animation: pulse 2s infinite;
                width: 100%;

                &:hover {
                    color: #0090d4;
                }
            }

            #pulse-play {
                animation: fadeOut 1s 1s forwards;

                &:hover {
                    color: #0090d4;
                }
            }
        }

        #close-div,
        .close {
            margin: auto;
            padding: auto;
        }
    }
}