.nav-bar {
    background: rgba(81, 9, 109, 0.101);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 65px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    box-shadow: 0px 10px 35px 20px #101010;

    .lgrey-div {
        width: 100%;
        height: 120px;
        background: radial-gradient(rgba(130, 62, 131, 0.3), rgba(31, 13, 37, 0.3));
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding-top: 20px;
        margin-top: -8px;
        border-bottom-right-radius: 50px;
        box-shadow: 0px 0 0 3px rgba(81, 9, 109, .6);
    }

    .logo {
        display: block;
        padding: 8px 0;
    }

    img {
        display: block;
        margin: 8px auto;
        width: 24px;
        height: auto;

        &.sub-logo {
            width: 50px;
        }
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 25px;
            color: #a3a3a6;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #00ffc2;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                    font-weight: 400;
                }
            }
        }

        a.about-link {
            &:after {
                content: 'ABOUT';
                font-weight: 400;
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
                font-weight: 400;
            }
        }

        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
                font-weight: 400;
            }
        }

        a.active svg {
            color: #00ffc2;
        }
    }

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 24px;
                line-height: 16px;
                color: #a3a3a6;

                &:hover svg {
                    color: #00ffc2;
                }

                &:visited svg {
                    color: #0090d4;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    #hamburger,
    #close-div {
        display: none;
        color: none;
    }
}

@media screen and (max-width: 1199px) {
    .nav-bar {
        position: absolute;
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        box-shadow: none;
        width: 100%;
        height: auto;
        min-height: auto;

        ul,
        nav,
        .lgrey-div {
            display: none;
        }

        nav {
            width: 100%;
            height: 100%;
            z-index: 999;
            top: 0;
            left: 0;
            position: fixed;
            justify-content: center;
            align-items: center;
            z-index: 2;
            margin: 0;
            padding: 0;
            background: rgba(81, 9, 109, 0.628);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(10px);

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:after {
                opacity: 1;
                position: initial;
                width: auto;
                margin-left: 10px;
            }

            a {
                color: #fff;
            }

            a svg {
                opacity: 1 !important;
                color: #fff;
            }

            &.show-menu {
                display: block;
            }

            &.hide-menu {
                display: none;
            }
        }

        .fa-home {
            padding-top: 90px;
        }

        .about-link {
            transform: translateX(2px);
        }

        .contact-link {
            transform: translateX(4px);
        }

        .portfolio-link {
            transform: translateX(8px);
        }

        
        #hamburger {
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 37px;
            z-index: 999;
            cursor: pointer;
          
          &:before,
          &:after,
          & div {
            background: #00ffc2;
            content: "";
            display: block;
            height: 3px;
            border-radius: 3px;
            margin: 7px 0;
            transition: 0.5s;
          }

          &:before {
            transform: translateY(12px) rotate(135deg);
          }
          &:after {
            transform: translateY(-12px) rotate(-135deg);
          }
          & div {
            transform: scale(0);
          }
        }

        #hamburger-close {
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 37px;
            z-index: 999;
            cursor: pointer;
          
          &:before,
          &:after,
          & div {
            background: #0090d4;
            content: "";
            display: block;
            height: 3px;
            border-radius: 3px;
            margin: 7px 0;
            transition: 0.5s;
          }

          &:hover:before {
            transform: translateY(0px) rotate(0deg);
          }
          &:hover:after {
            transform: translateY(0px) rotate(0deg);
          }
          &:hover div {
            transform: scale(1);
          }
        }
    }
}